.version.gallerier /* version checker */
{
	color: #000003;
	background-color: #7201D7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 840px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u7859
{
	z-index: 2;
	min-height: 81px;
	padding-bottom: 20px;
}

#u7859_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u7861
{
	z-index: 7;
	width: 127px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 122px;
}

#u7860-4
{
	z-index: 3;
	width: 199px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 261px;
}

#menuu10444
{
	z-index: 28;
	width: 514px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 538px;
}

#u10452
{
	width: 60px;
	min-height: 34px;
	margin-right: -10000px;
}

#u10453
{
	width: 60px;
	padding-bottom: 17px;
}

#u10453.MuseMenuActive
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u10454-4
{
	width: 29px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10453:hover #u10454-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u10453:active #u10454-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u10453.MuseMenuActive #u10454-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u10459
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 62px;
}

#u10462
{
	width: 97px;
	padding-bottom: 17px;
}

#u10462:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u10462.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u10465-4
{
	width: 66px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10462:hover #u10465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u10462:active #u10465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u10462.MuseMenuActive #u10465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u10480
{
	width: 100px;
	min-height: 34px;
	margin-right: -10000px;
	left: 161px;
}

#u10481
{
	width: 100px;
	padding-bottom: 17px;
}

#u10481.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u10484-4
{
	width: 69px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10481:hover #u10484-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u10481:active #u10484-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u10481.MuseMenuActive #u10484-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u10445
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 263px;
}

#u10446
{
	width: 74px;
	padding-bottom: 17px;
}

#u10446.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u10447-4
{
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10446:hover #u10447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u10446:active #u10447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u10446.MuseMenuActive #u10447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u10466
{
	width: 83px;
	min-height: 34px;
	margin-right: -10000px;
	left: 339px;
}

#u10467
{
	width: 83px;
	padding-bottom: 17px;
}

#u10467.MuseMenuActive
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u10470-4
{
	width: 52px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10467:hover #u10470-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u10467:active #u10470-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u10467.MuseMenuActive #u10470-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u10473
{
	width: 90px;
	min-height: 34px;
	margin-right: -10000px;
	left: 424px;
}

#u10476
{
	width: 90px;
	padding-bottom: 17px;
}

#u10476.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u10478-4
{
	width: 60px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10476:hover #u10478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u10476:active #u10478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u10476.MuseMenuActive #u10478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7859-bw
{
	z-index: 2;
	min-height: 81px;
}

#u3605-4
{
	z-index: 65;
	width: 208px;
	min-height: 49px;
	background-color: transparent;
	line-height: 43px;
	font-family: muli, sans-serif;
	font-weight: 300;
	margin-left: 22px;
	margin-top: 55px;
	position: relative;
}

#pslideshowu5269
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 73px;
}

#slideshowu5269
{
	z-index: 142;
	width: 0.01px;
	height: 619px;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u5271
{
	position: absolute;
	width: 518px;
	height: 530px;
	background-color: transparent;
	top: 44px;
	left: 285px;
}

#u5271popup
{
	z-index: 143;
}

#u5668
{
	z-index: 144;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5668_img
{
	padding-top: 71px;
	padding-bottom: 70px;
}

#u10907
{
	z-index: 146;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10916
{
	z-index: 148;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10925
{
	z-index: 150;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9057
{
	z-index: 152;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9066
{
	z-index: 154;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9075
{
	z-index: 156;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9084
{
	z-index: 158;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9093
{
	z-index: 160;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9102
{
	z-index: 162;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9111
{
	z-index: 164;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9120
{
	z-index: 166;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9129
{
	z-index: 168;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9138
{
	z-index: 170;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9147
{
	z-index: 172;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9156
{
	z-index: 174;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9165
{
	z-index: 176;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u9174
{
	z-index: 178;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10907_img,#u10916_img,#u10925_img,#u9057_img,#u9066_img,#u9075_img,#u9084_img,#u9093_img,#u9102_img,#u9111_img,#u9120_img,#u9129_img,#u9138_img,#u9147_img,#u9156_img,#u9165_img,#u9174_img
{
	padding-top: 38px;
	padding-bottom: 38px;
}

#u6513
{
	z-index: 180;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6513_img
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u7270
{
	z-index: 182;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7288
{
	z-index: 184;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7288_img
{
	padding-top: 134px;
	padding-bottom: 133px;
}

#u7297
{
	z-index: 186;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7297_img
{
	padding-top: 112px;
	padding-bottom: 111px;
}

#u7324
{
	z-index: 188;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7333
{
	z-index: 190;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7333_img
{
	padding-left: 82px;
	padding-right: 82px;
}

#u7351
{
	z-index: 192;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7351_img
{
	padding-top: 117px;
	padding-bottom: 116px;
}

#u7369
{
	z-index: 194;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u7270_img,#u7324_img,#u7369_img
{
	padding-top: 92px;
	padding-bottom: 92px;
}

#u5570
{
	z-index: 196;
	width: 518px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5570_img
{
	padding-top: 93px;
	padding-bottom: 92px;
}

#u5357
{
	position: absolute;
	width: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 2px;
	top: 64px;
}

#u5357popup
{
	z-index: 198;
}

#u5671
{
	z-index: 199;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u5671_img
{
	margin-top: -2px;
	margin-bottom: -1px;
}

#u10910
{
	z-index: 201;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u10919
{
	z-index: 203;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#u5671.SSSlideLinkSelected,#u10910.SSSlideLinkSelected,#u10919.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 68px;
	height: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u10928
{
	z-index: 205;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 15px;
}

#u9060
{
	z-index: 207;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 93px;
}

#u9069
{
	z-index: 209;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 171px;
}

#u10928.SSSlideLinkSelected,#u9060.SSSlideLinkSelected,#u9069.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 68px;
	height: 48px;
	min-height: 0px;
	margin: 58px -10000px 0px 0px;
}

#u9078
{
	z-index: 211;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 15px;
}

#u9087
{
	z-index: 213;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 93px;
}

#u9096
{
	z-index: 215;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 171px;
}

#u9078.SSSlideLinkSelected,#u9087.SSSlideLinkSelected,#u9096.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 68px;
	height: 48px;
	min-height: 0px;
	margin: 116px -10000px 0px 0px;
}

#u9105
{
	z-index: 217;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 15px;
}

#u9114
{
	z-index: 219;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 93px;
}

#u9123
{
	z-index: 221;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 171px;
}

#u9105.SSSlideLinkSelected,#u9114.SSSlideLinkSelected,#u9123.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 68px;
	height: 48px;
	min-height: 0px;
	margin: 174px -10000px 0px 0px;
}

#u9132
{
	z-index: 223;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 15px;
}

#u9141
{
	z-index: 225;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 93px;
}

#u9150
{
	z-index: 227;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 171px;
}

#u9132.SSSlideLinkSelected,#u9141.SSSlideLinkSelected,#u9150.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 68px;
	height: 48px;
	min-height: 0px;
	margin: 232px -10000px 0px 0px;
}

#u9159
{
	z-index: 229;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 15px;
}

#u9168
{
	z-index: 231;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 93px;
}

#u9177
{
	z-index: 233;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 171px;
}

#u9159.SSSlideLinkSelected,#u9168.SSSlideLinkSelected,#u9177.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 68px;
	height: 48px;
	min-height: 0px;
	margin: 290px -10000px 0px 0px;
}

#u10910_img,#u10919_img,#u10928_img,#u9060_img,#u9069_img,#u9078_img,#u9087_img,#u9096_img,#u9105_img,#u9114_img,#u9123_img,#u9132_img,#u9141_img,#u9150_img,#u9159_img,#u9168_img,#u9177_img
{
	padding-left: 7px;
	padding-right: 6px;
}

#u6516
{
	z-index: 235;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 15px;
}

#u6516_img
{
	margin: -3px 6px -4px 7px;
}

#u7273
{
	z-index: 237;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 93px;
}

#u7291
{
	z-index: 239;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 171px;
}

#u6516.SSSlideLinkSelected,#u7273.SSSlideLinkSelected,#u7291.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 68px;
	height: 48px;
	min-height: 0px;
	margin: 348px -10000px 0px 0px;
}

#u7291_img
{
	padding: 9px 4px;
}

#u7300
{
	z-index: 241;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 15px;
}

#u7300_img
{
	padding: 6px 4px 7px;
}

#u7327
{
	z-index: 243;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 93px;
}

#u7336
{
	z-index: 245;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 171px;
}

#u7300.SSSlideLinkSelected,#u7327.SSSlideLinkSelected,#u7336.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 68px;
	height: 48px;
	min-height: 0px;
	margin: 406px -10000px 0px 0px;
}

#u5671_clip,#u6516_clip,#u7336_clip
{
	overflow: hidden;
	width: 68px;
	height: 48px;
}

#u7336_img
{
	margin: -3px 15px -4px 16px;
}

#u7354
{
	z-index: 247;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 464px;
	left: 15px;
}

#u7354_img
{
	padding: 7px 4px;
}

#u7372
{
	z-index: 249;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 464px;
	left: 93px;
}

#u7273_img,#u7327_img,#u7372_img
{
	padding: 4px;
}

#u5573
{
	z-index: 251;
	width: 68px;
	height: 48px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 464px;
	left: 171px;
}

#u7354.SSSlideLinkSelected,#u7372.SSSlideLinkSelected,#u5573.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 68px;
	height: 48px;
	min-height: 0px;
	margin: 464px -10000px 0px 0px;
}

#u5573_img
{
	padding: 3px 2px 2px;
}

#u5327popup
{
	z-index: 253;
}

#u5674-6
{
	z-index: 254;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u10913-6
{
	z-index: 260;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u10913-3
{
	color: #7F7F7F;
	font-family: gudea, sans-serif;
	font-weight: 400;
}

#u10922-6
{
	z-index: 266;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u10931-6
{
	z-index: 272;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u10922,#u10931
{
	font-weight: 700;
}

#u10922-3,#u10931-3
{
	color: #7F7F7F;
}

#u9063-5
{
	z-index: 278;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u9072-7
{
	z-index: 283;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u9081-6
{
	z-index: 290;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u9090-5
{
	z-index: 296;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u9099-4
{
	z-index: 301;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u9108-6
{
	z-index: 305;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u9117-6
{
	z-index: 311;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u9126-5
{
	z-index: 317;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u9135-7
{
	z-index: 322;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u9144-7
{
	z-index: 329;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u9153-11
{
	z-index: 336;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u9162-6
{
	z-index: 347;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u9171-6
{
	z-index: 353;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u9180-4
{
	z-index: 359;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u6519-4
{
	z-index: 363;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u7276-4
{
	z-index: 367;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u7294-6
{
	z-index: 371;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u7303-6
{
	z-index: 377;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u7330-6
{
	z-index: 383;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u7339-7
{
	z-index: 389;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	font-family: gudea, sans-serif;
	font-weight: 700;
	margin-right: -10000px;
	position: relative;
}

#u7357-7
{
	z-index: 396;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u7375-7
{
	z-index: 403;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u5576-8
{
	z-index: 410;
	width: 498px;
	min-height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u10913-2,#u9072-5,#u9108-3,#u9135-5,#u9144-5,#u9153-3,#u9153-9,#u9162-3,#u9171-4,#u7294-4,#u7303-4,#u7330-4,#u7357-5,#u7375-5,#u5576-6
{
	font-family: gudea, sans-serif;
	font-weight: 400;
}

#u5324-4
{
	position: absolute;
	width: 44px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	color: #7F7F7F;
	top: 581px;
	left: 314px;
}

#u5324-4popup
{
	z-index: 418;
}

#u5270-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 578px;
	left: 285px;
}

#u5270-4popup
{
	z-index: 422;
}

#u5326-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 578px;
	left: 377px;
}

#u5326-4popup
{
	z-index: 426;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("/web/20160512162331im_/http://evashantverk.se/images/loading.gif") no-repeat center center;
}

#u5410-4
{
	z-index: 430;
	width: 257px;
	min-height: 53px;
	background-color: transparent;
	line-height: 29px;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#slideshowu3606
{
	z-index: 69;
	width: 0.01px;
	height: 619px;
	margin-left: 38px;
	margin-top: 61px;
	position: relative;
}

#u3618
{
	position: absolute;
	width: 615px;
	height: 530px;
	background-color: transparent;
	top: 44px;
	left: 285px;
}

#u3618popup
{
	z-index: 70;
}

#u3623
{
	z-index: 71;
	width: 615px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3623_img
{
	padding-left: 39px;
	padding-right: 184px;
	padding-bottom: 18px;
}

#u3674
{
	z-index: 73;
	width: 615px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3674_img
{
	padding-left: 38px;
	padding-right: 176px;
	padding-bottom: 7px;
}

#u3683
{
	z-index: 75;
	width: 615px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3683_img
{
	padding-left: 37px;
	padding-right: 179px;
	padding-bottom: 9px;
}

#u3692
{
	z-index: 77;
	width: 615px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3692_img
{
	padding: 1px 180px 10px 37px;
}

#u3701
{
	z-index: 79;
	width: 615px;
	height: 530px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3701_img
{
	padding: 8px 55px 138px 59px;
}

#u3625
{
	position: absolute;
	width: 257px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 60px;
	top: 113px;
}

#u3625popup
{
	z-index: 81;
}

#u3628
{
	z-index: 82;
	width: 120px;
	height: 142px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u3677
{
	z-index: 84;
	width: 120px;
	height: 142px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 133px;
}

#u3628.SSSlideLinkSelected,#u3677.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 120px;
	height: 142px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3686
{
	z-index: 86;
	width: 120px;
	height: 142px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 3px;
}

#u3695
{
	z-index: 88;
	width: 120px;
	height: 142px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 133px;
}

#u3686.SSSlideLinkSelected,#u3695.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 120px;
	height: 142px;
	min-height: 0px;
	margin: 152px -10000px 0px 0px;
}

#u3628_clip,#u3677_clip,#u3686_clip,#u3695_clip
{
	overflow: hidden;
	width: 120px;
	height: 142px;
}

#u3628_img,#u3677_img,#u3686_img,#u3695_img
{
	margin-top: -7px;
	margin-bottom: -8px;
}

#u3704
{
	z-index: 90;
	width: 120px;
	height: 142px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 304px;
	left: 3px;
}

#u3704.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 120px;
	height: 142px;
	min-height: 0px;
	margin: 304px -10000px 0px 0px;
}

#u5327,#u3611
{
	position: absolute;
	width: 518px;
	background-color: transparent;
	left: 285px;
}

#u3611popup
{
	z-index: 92;
}

#u3613-5
{
	z-index: 93;
	width: 498px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u3680-5
{
	z-index: 98;
	width: 498px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u3689-5
{
	z-index: 103;
	width: 498px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u3698-5
{
	z-index: 108;
	width: 498px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	text-align: center;
	margin-right: -10000px;
	position: relative;
}

#u3707-5
{
	z-index: 113;
	width: 498px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 17px;
	margin-right: -10000px;
	position: relative;
}

#u5674,#u10913,#u9072-3,#u9135-3,#u9144-3,#u9153-7,#u9171-2,#u7294-2,#u7303-2,#u7330-2,#u7357-3,#u7375-3,#u5576-4,#u3613,#u3680,#u3689,#u3698,#u3707
{
	font-family: gudea, sans-serif;
	font-weight: 700;
}

#u3617-4
{
	position: absolute;
	width: 31px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 17px;
	color: #7F7F7F;
	top: 581px;
	left: 314px;
}

#u3617-4popup
{
	z-index: 118;
}

#u3616-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 578px;
	left: 285px;
}

#u3616-4popup
{
	z-index: 122;
}

#u5270,#u3616
{
	color: #999999;
}

#u3608-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 578px;
	left: 365px;
}

#u3608-4popup
{
	z-index: 126;
}

#u3715-12
{
	z-index: 130;
	width: 257px;
	min-height: 79px;
	background-color: transparent;
	margin-left: 38px;
	top: -619px;
	margin-bottom: -97px;
	position: relative;
}

#u3715-2
{
	line-height: 29px;
	font-family: muli, sans-serif;
	font-weight: 400;
}

#u3715-6,#u3715-9
{
	font-style: italic;
}

#u10175
{
	z-index: 27;
	width: 292px;
	min-height: 37px;
	margin-left: 646px;
	top: -37px;
	margin-bottom: -37px;
}

#pu7867
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 13px;
}

#u7867_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 27px;
	padding-bottom: 14px;
}

#u7923
{
	z-index: 21;
	width: 432px;
	left: 364px;
}

#u7907
{
	z-index: 22;
	width: 120px;
	min-height: 33px;
	margin-right: -10000px;
}

#u7911
{
	z-index: 24;
	width: 113px;
	min-height: 24px;
	margin-right: -10000px;
	left: 151px;
}

#u7909
{
	z-index: 23;
	width: 93px;
	min-height: 24px;
	margin-right: -10000px;
	left: 290px;
}

#u333
{
	z-index: 25;
	width: 23px;
	margin-right: -10000px;
	left: 409px;
}

#u333_img
{
	padding-right: 1px;
}

#u7905
{
	z-index: 14;
	width: 178px;
	height: 2px;
	left: 100px;
	margin-top: 17px;
}

#u7904-4
{
	z-index: 10;
	width: 960px;
	min-height: 22px;
	left: 100px;
	margin-top: 23px;
}

#u7867,#u7867-bw
{
	z-index: 9;
	min-height: 139px;
}

#u93-5
{
	z-index: 15;
	width: 916px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 69px;
	left: 122px;
}

#u7921
{
	z-index: 20;
	width: 178px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 79px;
	left: 882px;
}

#u7922
{
	z-index: 434;
	width: 52px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 69px;
	left: 824px;
}

.ie #u7922
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}


/*
     FILE ARCHIVED ON 16:23:31 May 12, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:56:11 Jan 24, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 53.852 (3)
  esindex: 0.008
  captures_list: 70.662
  CDXLines.iter: 12.667 (3)
  PetaboxLoader3.datanode: 87.042 (4)
  exclusion.robots: 0.159
  exclusion.robots.policy: 0.144
  RedisCDXSource: 1.506
  PetaboxLoader3.resolve: 26.523
  load_resource: 71.799
*/