.version.om_eva /* version checker */
{
	color: #00001C;
	background-color: #1E7A6E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 840px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u7859
{
	z-index: 2;
	min-height: 81px;
	padding-bottom: 20px;
}

#u7859_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u7861
{
	z-index: 7;
	width: 127px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 122px;
}

#u7860-4
{
	z-index: 3;
	width: 199px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 261px;
}

#menuu10444
{
	z-index: 28;
	width: 514px;
	margin-right: -10000px;
	margin-top: 37px;
	left: 538px;
}

#u10452
{
	width: 60px;
	min-height: 34px;
	margin-right: -10000px;
}

#u10453
{
	width: 60px;
	padding-bottom: 17px;
}

#u10453.MuseMenuActive
{
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u10454-4
{
	width: 29px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10453:hover #u10454-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u10453:active #u10454-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u10453.MuseMenuActive #u10454-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 29px;
	margin: 0px -10000px 0px 0px;
}

#u10459
{
	width: 97px;
	min-height: 34px;
	margin-right: -10000px;
	left: 62px;
}

#u10462
{
	width: 97px;
	padding-bottom: 17px;
}

#u10462:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u10462.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u10465-4
{
	width: 66px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10462:hover #u10465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u10462:active #u10465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u10462.MuseMenuActive #u10465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u10480
{
	width: 100px;
	min-height: 34px;
	margin-right: -10000px;
	left: 161px;
}

#u10481
{
	width: 100px;
	padding-bottom: 17px;
}

#u10481.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u10484-4
{
	width: 69px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10481:hover #u10484-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u10481:active #u10484-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u10481.MuseMenuActive #u10484-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u10445
{
	width: 74px;
	min-height: 34px;
	margin-right: -10000px;
	left: 263px;
}

#u10446
{
	width: 74px;
	padding-bottom: 17px;
}

#u10446.MuseMenuActive
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u10447-4
{
	width: 43px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10446:hover #u10447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u10446:active #u10447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u10446.MuseMenuActive #u10447-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u10466
{
	width: 83px;
	min-height: 34px;
	margin-right: -10000px;
	left: 339px;
}

#u10467
{
	width: 83px;
	padding-bottom: 17px;
}

#u10467.MuseMenuActive
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u10470-4
{
	width: 52px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10467:hover #u10470-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u10467:active #u10470-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u10467.MuseMenuActive #u10470-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u10473
{
	width: 90px;
	min-height: 34px;
	margin-right: -10000px;
	left: 424px;
}

#u10476
{
	width: 90px;
	padding-bottom: 17px;
}

#u10476.MuseMenuActive
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
}

#u10478-4
{
	width: 60px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 15px;
}

#u10476:hover #u10478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u10476:active #u10478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u10476.MuseMenuActive #u10478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7859-bw
{
	z-index: 2;
	min-height: 81px;
}

#pu464
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 55px;
}

#u464
{
	z-index: 80;
	width: 228px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u451-15
{
	z-index: 65;
	width: 606px;
	min-height: 202px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 245px;
}

#u451-12
{
	font-style: italic;
}

#ppu470-46
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 37px;
}

#pu470-46
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u470-46
{
	z-index: 82;
	width: 416px;
	min-height: 520px;
	background-color: transparent;
	position: relative;
}

#u470-39
{
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

#u470-41,#u470-42,#u470-44
{
	line-height: 17px;
	color: #000000;
}

#u7932
{
	z-index: 233;
	width: 168px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u471-74
{
	z-index: 128;
	width: 415px;
	min-height: 586px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 436px;
}

#pu8314
{
	width: 0.01px;
	margin-left: 54px;
	margin-top: 22px;
}

#u8314
{
	z-index: 235;
	width: 260px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6264-25
{
	z-index: 208;
	width: 570px;
	min-height: 347px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#u451-2,#u470-2,#u470-15,#u470-22,#u470-27,#u470-34,#u471-2,#u6264-2
{
	line-height: 29px;
}

#u451-3,#u451-4,#u451-6,#u451-7,#u451-9,#u451-10,#u451-13,#u470-4,#u470-6,#u470-8,#u470-10,#u470-12,#u470-13,#u470-17,#u470-19,#u470-20,#u470-24,#u470-25,#u470-29,#u470-31,#u470-32,#u470-36,#u470-37,#u471-4,#u471-6,#u471-8,#u471-10,#u471-12,#u471-14,#u471-16,#u471-18,#u471-20,#u471-22,#u471-24,#u471-26,#u471-28,#u471-30,#u471-32,#u471-34,#u471-36,#u471-38,#u471-40,#u471-42,#u471-44,#u471-46,#u471-48,#u471-50,#u471-52,#u471-54,#u471-56,#u471-58,#u471-60,#u471-62,#u471-64,#u471-66,#u471-68,#u471-70,#u471-72,#u6264-5,#u6264-6,#u6264-8,#u6264-9,#u6264-11,#u6264-12,#u6264-14,#u6264-15,#u6264-17,#u6264-18,#u6264-20,#u6264-21,#u6264-23
{
	line-height: 17px;
}

#pu3535
{
	width: 0.01px;
	margin-left: -82px;
	margin-top: 1px;
}

#u3535
{
	z-index: 202;
	width: 1124px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3541-4
{
	z-index: 204;
	width: 245px;
	min-height: 18px;
	background-color: transparent;
	text-align: right;
	line-height: 17px;
	color: #7F7F7F;
	font-family: gudea, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 418px;
	left: 775px;
}

#u10498
{
	z-index: 237;
	width: 8px;
	height: 18px;
	margin-top: 54px;
	position: relative;
}

#u10175
{
	z-index: 27;
	width: 292px;
	min-height: 37px;
	margin-left: 646px;
	top: -37px;
	margin-bottom: -37px;
}

#pu7867
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 13px;
}

#u7867_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 27px;
	padding-bottom: 14px;
}

#u7923
{
	z-index: 21;
	width: 432px;
	left: 364px;
}

#u7907
{
	z-index: 22;
	width: 120px;
	min-height: 33px;
	margin-right: -10000px;
}

#u7911
{
	z-index: 24;
	width: 113px;
	min-height: 24px;
	margin-right: -10000px;
	left: 151px;
}

#u7909
{
	z-index: 23;
	width: 93px;
	min-height: 24px;
	margin-right: -10000px;
	left: 290px;
}

#u333
{
	z-index: 25;
	width: 23px;
	margin-right: -10000px;
	left: 409px;
}

#u333_img
{
	padding-right: 1px;
}

#u7905
{
	z-index: 14;
	width: 178px;
	height: 2px;
	left: 100px;
	margin-top: 17px;
}

#u7904-4
{
	z-index: 10;
	width: 960px;
	min-height: 22px;
	left: 100px;
	margin-top: 23px;
}

#u7867,#u7867-bw
{
	z-index: 9;
	min-height: 139px;
}

#u93-5
{
	z-index: 15;
	width: 916px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 69px;
	left: 122px;
}

#u7921
{
	z-index: 20;
	width: 178px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 79px;
	left: 882px;
}

#u7922
{
	z-index: 238;
	width: 52px;
	height: 24px;
	margin-right: -10000px;
	margin-top: 69px;
	left: 824px;
}

.ie #u10498,.ie #u7922
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}


/*
     FILE ARCHIVED ON 22:08:17 May 12, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:19:50 Jan 24, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 124.382 (3)
  esindex: 0.007
  captures_list: 145.174
  CDXLines.iter: 12.069 (3)
  PetaboxLoader3.datanode: 140.754 (4)
  exclusion.robots: 0.323
  exclusion.robots.policy: 0.304
  RedisCDXSource: 5.675
  PetaboxLoader3.resolve: 142.346
  load_resource: 184.543
*/